body {
	margin:0;
	padding:0;
	font-family: sans-serif;
	background: #ececec;
}

#main {
	max-width: 900px;
	margin: auto;
}

#login {
	background: #ccc;
	border: 1px solid #474747;
	margin: 10px 0;
	padding:10px;
}

.column {
	width: 48%;
	float: left;
	padding-right:2%;
}

.column:last-of-type {
	padding:0 0 0 2%;
}

li a span {
	font-size: 80%;
}

li a {
	text-decoration:none;
	padding: 10px 2px;
	color: #000;
}

li a:hover {
	text-decoration:underline;
}


.card {
	background: #fff;
	border: 1px solid #000;
	display: inline-block;
	margin: 10px;
	width:112px;
	height:175px;
	text-align:center;
	border-radius:5px;
}

.card div:nth-of-type(1) {
	font-size: 28px;
	  float: left;
	  padding: 10px;
	  position: relative;
}

.card div:nth-of-type(2) {
	top: 75px;
	  right: 16px;
	  position: relative;
	  font-size: 16px;
}

.Guard {background:#FFC873;}
.Priest {background:#FFC3A4;}
.Baron {background:#E1A4FF;}
.Handmaid {background:#C2E4F9;}
.Prince {background:#FFFEA7;}
.King {background:#CBFFA7;}
.Countess {background:#A7BCFF;}
.Princess {background:#F8F9FF;}

#deck .card {
	background:#999;
}

#hand .card:hover, #deck .card:hover {
	cursor: pointer;
	transform: rotate(10deg);
}

#table, #hand {
	min-height:250px;
}

#deck, #discard {
	display:inline-block;
}

